# Runtime unity files
[Ll]ibrary/
[Ll]ogs/
[Tt]emp/
[Oo]bj/
[Uu]serSettings/

# Unity Entities baking cache
Assets/SceneDependencyCache/**
Assets/SceneDependencyCache.meta

# IDE settings
.vscode

# solution files
[Aa]ssembly-*
*.sln
*.csproj
*.suo